<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>cardDate</key>
			<date>2017-02-21T12:48:59Z</date>
			<key>remarkItems</key>
			<array>
				<dict>
					<key>text</key>
					<string>吃饭</string>
					<key>imageName</key>
					<string>remark_信息</string>
				</dict>
				<dict>
					<key>text</key>
					<string>睡觉</string>
					<key>imageName</key>
					<string>remark_姓名</string>
				</dict>
			</array>
			<key>done</key>
			<false/>
			<key>cardTitle</key>
			<string>test001</string>
			<key>cardContent</key>
			<string>testcontent</string>
			<key>taskCardAlertType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>cardDate</key>
			<date>2017-02-21T12:48:59Z</date>
			<key>remarkItems</key>
			<array>
				<dict>
					<key>text</key>
					<string>吃饭01</string>
					<key>imageName</key>
					<string>remark_信息</string>
				</dict>
				<dict>
					<key>text</key>
					<string>睡觉01</string>
					<key>imageName</key>
					<string>remark_姓名</string>
				</dict>
			</array>
			<key>done</key>
			<false/>
			<key>cardTitle</key>
			<string>test001</string>
			<key>cardContent</key>
			<string>testcontent</string>
			<key>taskCardAlertType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>cardDate</key>
			<date>2017-02-21T12:48:59Z</date>
			<key>remarkItems</key>
			<array>
				<dict>
					<key>text</key>
					<string>吃饭02</string>
					<key>imageName</key>
					<string>remark_信息</string>
				</dict>
			</array>
			<key>done</key>
			<false/>
			<key>cardTitle</key>
			<string>test001</string>
			<key>cardContent</key>
			<string>testcontent</string>
			<key>taskCardAlertType</key>
			<integer>1</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>cardDate</key>
			<date>2017-02-21T12:48:59Z</date>
			<key>remarkItems</key>
			<array>
				<dict>
					<key>text</key>
					<string>吃饭03</string>
					<key>imageName</key>
					<string>remark_信息</string>
				</dict>
				<dict>
					<key>text</key>
					<string>睡觉04</string>
					<key>imageName</key>
					<string>remark_姓名</string>
				</dict>
			</array>
			<key>done</key>
			<false/>
			<key>cardTitle</key>
			<string>test001</string>
			<key>cardContent</key>
			<string>testcontent</string>
			<key>taskCardAlertType</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>cardDate</key>
			<date>2017-02-21T12:48:59Z</date>
			<key>remarkItems</key>
			<array>
				<dict>
					<key>text</key>
					<string>吃饭</string>
					<key>imageName</key>
					<string>remark_信息</string>
				</dict>
				<dict>
					<key>text</key>
					<string>睡觉</string>
					<key>imageName</key>
					<string>remark_姓名</string>
				</dict>
				<dict>
					<key>text</key>
					<string>睡觉</string>
					<key>imageName</key>
					<string>remark_姓名</string>
				</dict>
			</array>
			<key>done</key>
			<false/>
			<key>cardTitle</key>
			<string>test001</string>
			<key>cardContent</key>
			<string>testcontent</string>
			<key>taskCardAlertType</key>
			<integer>1</integer>
		</dict>
	</array>
</array>
</plist>
