<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cardTitle</key>
		<string>标题测试</string>
		<key>cardContent</key>
		<string></string>
		<key>cardAvatarImage</key>
		<string>avatar_1</string>
		<key>cardDate</key>
		<date>2017-03-02T05:34:11Z</date>
		<key>taskCardAlertType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>cardTitle</key>
		<string>标题测dfd dfds</string>
		<key>cardContent</key>
		<string>内容1内容1</string>
		<key>cardAvatarImage</key>
		<string>avatar_1</string>
		<key>cardDate</key>
		<date>2017-03-02T05:34:11Z</date>
		<key>taskCardAlertType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>cardTitle</key>
		<string>标题测试标题测试标题测试标题测试标题测试标题测试标题测试</string>
		<key>cardContent</key>
		<string>内容1内容1</string>
		<key>cardAvatarImage</key>
		<string>avatar_1</string>
		<key>cardDate</key>
		<date>2017-03-02T05:34:11Z</date>
		<key>taskCardAlertType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>cardTitle</key>
		<string>标题测试标题测试标题测试标题测试标题测试标题测试标题测试</string>
		<key>cardContent</key>
		<string>内容1内容1</string>
		<key>cardAvatarImage</key>
		<string>avatar_1</string>
		<key>cardDate</key>
		<date>2017-03-02T05:34:11Z</date>
		<key>taskCardAlertType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>cardTitle</key>
		<string>标题测试标题测试标题测试标题测试标题测试标题测试标题测试</string>
		<key>cardContent</key>
		<string>内容1内容1</string>
		<key>cardAvatarImage</key>
		<string>avatar_1</string>
		<key>cardDate</key>
		<date>2017-03-02T05:34:11Z</date>
		<key>taskCardAlertType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>cardTitle</key>
		<string>标题测试标题测试标题测试标题测试标题测试标题测试标题测试</string>
		<key>cardContent</key>
		<string>内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2内容2</string>
		<key>cardAvatarImage</key>
		<string>avatar_1</string>
		<key>cardDate</key>
		<date>2017-02-03T06:34:11Z</date>
		<key>taskCardAlertType</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
